p {
    font-size: 12px !important;
    }

    h1 {
        font-size: 120%;
        }
        /*
        Los selectores son h1 y p.
        El ; al final de una propiedad es obligatorio.
        */
        p {
        font-size: 90%;
        }

        /* El caracter # seguido por el ID navigation es el selector*/
#navigation {
    border: 1px solid black;
    padding: 40px;
    }
    
    <ul id="navigation">
    <!-- Elementos HTML dentro del ul -->
    </ul>

  /*Tomamos los elementos "a" que se encuentran dentro de los elementos "li" */
li a {
    text-decoration: none;
    }
    
    <li><a href="http://CSScookbook.com">Apples</a></li>
    <li><a href="http://CSScookbook.com">Bananas</a></li>
    <li><a href="http://CSScookbook.com">Cherries</a></li>

    * {
        font-family: verdana, arial, sans-serif;
        }
        /*
        El selector universal se representa con un asterisco (*), significa que todos
        los elementos se aplicara este estilo
        */

        div > strong {
            text-decoration: none;
            }
            
            <div>
            However, this <strong>strong</strong> is the child of div.
            Therefore, it receives the style dictated in the CSS rule.
            </div>

            li + li {
                font-size: 200%;
                }
                <!-- Este elemento NO entra en la regla de hermanos, no tiene elementos li antes-
                ->
                <li><a href="http://CSScookbook.com">Apples</a></li>
                <!-- Solo estos dos elementos obtienen estilos por la regla de hermanos -->
                <li><a href="http://CSScookbook.com">Bananas</a></li>
                <li><a href="http://CSScookbook.com">Cherries</a></li>


                a[href="CSScookbook.com"] {
                    text-decoration: none;
                    }

                    <li ><a href="http://CSScookbook.com">Apples</a></li>
                    <li><a href="http://CSScookbook.com">Bananas</a></li>
                    <li><a href="http://CSScookbook.com">Cherries</a></li>

                    /* Estos selectores nos permiten encontrar coincidencias */
a[title~="tv hd digital"] {
    text-decoration: none;
    }
    a[title|="anti"] {
    color: red;
    }
    a[href^="mailto:"] {
    padding-right: 15px;
    background: url(icon-email.png) no-repeat right;
    }
    a[href$='.rss'], a[href$='.atom'] {
    padding-right: 15px;
    background: url(icon-rss.png) no-repeat right;
    }
    a[href *="username"] {
    padding-right: 15px;
    background: url(icons-star.png) no-repeat right;
    }
.warning { 
font-weight: bold; 
} 

/*Es recomendable colocar estos elementos como bloques en el estilo*/ header, section, nav, aside, footer { 
display: block; 
}


